@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/image\ 1.png");
    min-height: 80%;
    background-position: top;
    background-size: cover;
    position: relative;
}
.ealNavbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 10px 5em;
}
.ealNavbar ul li{
    float: right;
}
.ealNavbar>ul>li>a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.ealNavbar>ul>li>a:hover{
    color: yellow;
    transition: ease-in 0.3s;
}
#main-title{
    float: left;
    font-family: 'Snowburst One', cursive;
    color: white;
    font-size: 2em;
}
.headerContent{
    text-align: center;
    color: white;
    text-shadow: black 0 4 4;
    font-family: 'Snowburst One', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.headerContent>h1{
    font-size: 3em;
}
.headerContent>h2{
    font-size: 1.5em;
}

.about{
    margin: 10px 3em;
}

.wrapper{
    display: flex;
   flex-direction: row;
   padding: 0 4px;
   justify-content: center;
   align-items: center;
}
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  .about_text>h1{
      font-size: 3em;
  }
  .about_text>p{
    font-size: 1.3em;
}

.center-text{
    text-align: center;
}
.enticing_content{
    background-color: #FDEBD0;
    padding: 20px 3em;
    display: flex;
    flex-wrap: nowrap;
}   
.col{
    flex: 50%;
    padding: 0 2em;
}
.big_img>img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.enticing_text>img{
    max-width: 80%;
    object-fit: cover;
}
.services{
    position: relative;
    margin: 0 5em 3em 5em;
}
.cards{
    display: flex;
    margin-bottom: 2em;
}
.card{
    box-shadow: rgba(0,0,0,0.25) 2px 4px 8px 5px;
    border-radius: 60px;
    flex: 30%;
    margin: 0 2em;
}

.cards>.one{
    background-color: #FADBD8;
}
.cards>.two{
    background-color: #FCF3CF;
}
.cards>.three{
    background-color: #D6EAF8;
}
.card>img{
    width: 100%;
    border-radius: 60px 60px 0 0;
}
.card-text{
    padding: 0 1.5em 0.5em 1.5em;
}
.card-heading{
    font-weight: bold;
}
.btn{
    font-family: 'Poppins', sans-serif;
  border: none;
  font-weight: bold;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  border-radius: 50px;
}
.btn-explore{
    color: white;
    background-color: #5499C7;
}
.btn-explore:hover{
    transition: ease-in 0.2s;
    background-color: #EDBB99;
}
.book{
    background-color: #F6DDCC;
    padding: 2em 4em;
}
.btn-book{
    background-color: #16A085;
    color: white;
}
.btn-book:hover{
    transition: ease-in 0.2s;
    color: black;
    background-color: #73C6B6 ;
}

  @media screen and (max-width: 1000px) {
      .cards{
          flex-wrap: wrap;
      }
      .card{
          margin-bottom: 1em;
          flex: 40%;
      }
    body{
        font-size: 14px;
    }
    .enticing_content{
        flex-wrap: wrap;
    }
    .wrapper{
        flex-wrap: wrap;
    }
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
      body{
          font-size: 12px;
      }
      .card{
          flex: 100%;
      }
      .enticing_content{
          flex-wrap: wrap;
      }
      .wrapper{
          flex-wrap: wrap;
      }
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }